.firefly {
  position: fixed;
  z-index: 1099;
  left: 50%;
  top: 50%;
  width: 0.4vw;
  height: 0.4vw;
  margin: -0.2vw 0 0 9.8vw;
  animation: ease 200s alternate infinite;
  pointer-events: none;
}
.firefly::before, .firefly::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform-origin: -10vw;
}
.firefly::before {
  background: black;
  opacity: 0.4;
  animation: drift ease alternate infinite;
}
.firefly::after {
  background: white;
  opacity: 0;
  box-shadow: 0 0 0vw 0vw white;
  animation: drift ease alternate infinite, flash ease infinite;
}

.firefly:nth-child(1) {
  animation-name: move1;
}
.firefly:nth-child(1)::before {
  animation-duration: 18s;
}
.firefly:nth-child(1)::after {
  animation-duration: 18s, 6361ms;
  animation-delay: 0ms, 2466ms;
}

@keyframes move1 {
  0% {
    transform: translateX(28vw) translateY(-24vh) scale(0.27);
  }
  4.347826087% {
    transform: translateX(-2vw) translateY(-24vh) scale(0.74);
  }
  8.6956521739% {
    transform: translateX(-13vw) translateY(5vh) scale(0.81);
  }
  13.0434782609% {
    transform: translateX(-6vw) translateY(5vh) scale(0.79);
  }
  17.3913043478% {
    transform: translateX(-33vw) translateY(-32vh) scale(0.47);
  }
  21.7391304348% {
    transform: translateX(-24vw) translateY(-33vh) scale(0.35);
  }
  26.0869565217% {
    transform: translateX(12vw) translateY(7vh) scale(0.67);
  }
  30.4347826087% {
    transform: translateX(10vw) translateY(-7vh) scale(0.66);
  }
  34.7826086957% {
    transform: translateX(33vw) translateY(21vh) scale(0.41);
  }
  39.1304347826% {
    transform: translateX(-18vw) translateY(6vh) scale(0.62);
  }
43.4782608696% {
    transform: translateX(20vw) translateY(3vh) scale(0.94);
  }
  47.8260869565% {
    transform: translateX(-20vw) translateY(-21vh) scale(0.83);
  }
  52.1739130435% {
    transform: translateX(-20vw) translateY(29vh) scale(0.69);
  }
  56.5217391304% {
    transform: translateX(-36vw) translateY(8vh) scale(0.53);
  }
  60.8695652174% {
    transform: translateX(-39vw) translateY(-14vh) scale(0.57);
  }
  65.2173913043% {
    transform: translateX(13vw) translateY(49vh) scale(0.98);
  }
  69.5652173913% {
    transform: translateX(18vw) translateY(39vh) scale(0.32);
  }
  73.9130434783% {
    transform: translateX(33vw) translateY(41vh) scale(0.64);
  }
  78.2608695652% {
    transform: translateX(-49vw) translateY(-14vh) scale(0.76);
  }
82.6086956522% {
    transform: translateX(49vw) translateY(-34vh) scale(0.38);
  }
  86.9565217391% {
    transform: translateX(29vw) translateY(46vh) scale(0.49);
  }
  91.3043478261% {
    transform: translateX(-9vw) translateY(-48vh) scale(0.99);
  }
  95.652173913% {
    transform: translateX(44vw) translateY(38vh) scale(0.79);
  }
  100% {
    transform: translateX(-13vw) translateY(-15vh) scale(0.29);
  }
}
.firefly:nth-child(2) {
  animation-name: move2;
}
.firefly:nth-child(2)::before {
  animation-duration: 14s;
}
.firefly:nth-child(2)::after {
  animation-duration: 14s, 5144ms;
  animation-delay: 0ms, 3189ms;
}

@keyframes move2 {
  0% {
    transform: translateX(15vw) translateY(-8vh) scale(0.96);
  }
  5% {
    transform: translateX(-29vw) translateY(0vh) scale(0.33);
  }
  10% {
    transform: translateX(-38vw) translateY(29vh) scale(0.71);
  }
  15% {
    transform: translateX(-13vw) translateY(39vh) scale(0.4);
  }
  20% {
    transform: translateX(-26vw) translateY(-25vh) scale(0.73);
  }
  25% {
    transform: translateX(24vw) translateY(18vh) scale(0.85);
  }
  30% {
    transform: translateX(14vw) translateY(-35vh) scale(0.9);
  }
  35% {
    transform: translateX(43vw) translateY(-47vh) scale(0.79);
  }
  40% {
    transform: translateX(28vw) translateY(0vh) scale(0.63);
  }
  45% {
    transform: translateX(24vw) translateY(24vh) scale(0.67);
  }
  50% {
    transform: translateX(4vw) translateY(30vh) scale(0.83);
  }
