body {
  margin : 0px; 
  overflow: hidden;
}

#landing{
  position:absolute; top:0px; left:0px; z-index:1000;
  width: 100%;
  height: 100%;
  background-color: rgba(148,201,151,0.8);
  background-image: linear-gradient(315deg, rgba(148,201,151,0.7) 0%, rgba(218,172,236,0.7) 74%);
}
@font-face {
  font-family: future;
  src: url(./fonts/pirulen.otf);
}
div#landing {
  font-family: future;
}
div#landing h1, div#landing p {
  text-align: center;
  align-items: center;
  margin: 50px 70px;
}
button#ARworld {
  font-family : inherit;
